html{
    background: lightblue;
}

body{
    background: linear-gradient( black,#303782,lightblue);
    background-repeat: no-repeat;
    margin: 0;
    height:2500px;
    

}

#container{
    
/*    background: linear-gradient( black,#303782,lightblue);*/
 
}

#star{
    
    position: absolute;
    display: block;
    z-index: 10;
    margin-top: 100px;
    margin-left:100px;
    margin-bottom: 95%;
    filter: drop-shadow(0 0 6px rgba(255,235,110,0.7));
   
}

#building{
    
    position: relative;
    width: 300px;
    height: 200px;
    background: url(brick.jpg);
    margin-top: 0px;
    margin-bottom: 0;
    margin-left:15%;
    z-index: 10;
}


#sign{
    position: absolute;
    width: 275px;
    height:40px;
    background: #990000;
    z-index:15;
    margin-top: 15px;
    margin-left:10px;
    border: solid 3px white;
    font-size: 1.7em;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 0;
    font-family: Arial;
    color:white;
}

#rocket{
    position: relative;
    top: 440px;
    margin-bottom: 0;
    margin-left:70%;
    z-index: 10;
    
    
}

#launchpad{
    
    width: 200px;
    height: 200px;
    border: solid 7px darkgray;
    background:gray;
    border-radius: 50%;
    top: 330px;
    left: 66%;
    bottom:0;
    z-index:1;
    position: relative;
    transform: rotate3d(-2, 0, 0, 80deg); 
}

#earth{
    
    position: absolute;
    height:65px;
    width:100%;
    margin-top: 0;
    margin-bottom: 0px;
    border-radius: 200px 200px 0 0;
    background:green;

}

#northstar{
    position:absolute;
}




#topstars{
    height: 500px;
    width: 1250px;
    background: url(small.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
    

}

#bottomstars{
    height:1650px;
    width: 1250px;
    background: url(med.png) repeat 20% 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1;
    overflow: hidden;
    

}


#planet{
    
    position: absolute;
    z-index: 10;
    margin-top: 1000px;
    margin-left:75%;
    margin-bottom: 0;
    border-radius: 100%;
    box-shadow: inset -15px 0px 0 rgba(0,0,0,.1);
    height: 75px;    
    width: 75px;
    background: #ceeeff;
    perspective: 750px;
    transform-style: preserve-3d;


}


#ring{
    width: 150%;
    height: 150%;
    border: solid 10px #ffe9a8;
    border-radius: 50%;
    top: -25%; 
    left: -25%; 
    position: absolute;
    transform: rotate3d(-2, 2, 0, 70deg); 
    box-sizing: border-box;
    filter: drop-shadow(0 0 6px rgba(255,235,110,0.7));   
}



#cloud1{
    position: relative;
    margin-top: 1575px;
    margin-bottom: 650px;
    margin-left: 0;
    transform: translate();
    animation: cloud 18s linear infinite;
}

#cloud2{
    position: relative;
    height: 10em;
    margin-top: 1575px;
    margin-bottom: 200px;
    margin-left: 0;
    transform: translate();
    animation: cloud 40s linear infinite;
}

#cloud3{
    position: relative;
    height:8em;
    margin-top: 1575px;
    margin-bottom: -150px;
    margin-left: 0;
    transform: translate();
    animation: cloud 27s linear infinite;
}





a{
    text-decoration: none;
     color: rgba(255,235,110,.7);
    display: block;
}




@keyframes cloud{
    
    0%{ transform: translateX(-700px);
        opacity:1;
    }
    
    90%{ transform: translateX(1600px);
        opacity: 1;
        
    }
    
    91%{opacity:0;}
    
    100%{  transform: translateX(-1800px);
            opacity:0;
    }
    
}










