body{
  
    background: linear-gradient(#303782,lightblue);
    margin-left: 0;
}

#ground{
    height: 120px;
    width:100%;
    background: green;
    margin-top: 40%;
    margin-left: 0px;
    position: absolute;
}

/*      B I N   */
#bin1{
    width:200px;
    height:333px;
    float: left;
    border: 1px solid white;
    margin-bottom: 97px;
    margin-left: 10px;
    z-index:-1;
    
}


#bin2{
    margin-left: 3px;
    width:200px;
    height:333px;
    float: left;
    border: 1px solid white;
}


#bin3{
    margin-left: 3px;
    width:200px;
    height:333px;
    float: left;
    border: 1px solid white;
}


/*      C O N T R O L      B O A R D    */
#board{
    clear:both;
    height:150px;
    width: 400px;
    background: gray;
    margin-left: 10px;
    position: relative;
    z-index: 15;
/*   margin-top:25px;*/
    top:55%;
    margin-top: 10px;
    bottom:0;
    border: 7px black solid;
    box-shadow: inset -5px -4px 7px 6px darkgray;
    
    
}
button{
    position: absolute;
    top: 80px;
    padding-right: 10px;
    margin-left: 15px;
    margin-right: 230px;
    margin-bottom:0;
    border: black solid 1px;
    width:250px;
    height:50px;

    color: white;
    background: green;
    font-size: 1.3em;
    box-shadow: inset -1px -2px 2px 4px darkgreen;
    outline: 0;
    float:left;
    
    
}

button:active{
    
    background: lightgreen;
}


.colorpick{
    position: relative;
/*    display: inline-block;*/
    margin-left:10px;
    margin-top: 15px;
    bottom: 0;
    height: 40px;
    width: 40px;
    border: darkgray solid 5px;
    box-shadow: inset -1px -1px 3px 3px grey;
}



video{
    border: black solid 4px;
    float:right;
    margin: 12px;
    margin-left: 0px;
    object-fit: fill;
}


/*      L A U N C H P A D    */

#launchpad{
    
    width: 500px;
    height: 500px;
    border: solid 7px darkgray;
    background:gray;
    border-radius: 50%;
    top: 50%; 
    left: 53%;
    bottom:0;
    z-index:1;
    position: absolute;
    transform: rotate3d(-2, 0, 0, 80deg); 
/*  box-sizing: border-box;*/
}







/*    S P A C E    S H U T T L E    P A R T S    */


#body{
    position: relative;
/*    display: inline-block;*/
    height: 275px;
    width: 150px;
    background: white;
    z-index:10;
    margin: 10px;
    box-shadow: inset -15px 0 3px 0 rgba(0, 0, 0, 0.2);

}


#rightwing{
    
   position: relative;
    border-bottom: 100px solid red;
    border-left: 50px solid transparent;
    height: 0;
    width: 15px;
    z-index:10;
    margin: 10px;
}



#leftwing{
    
   position: relative;
    border-bottom: 100px solid red;
    border-right: 50px solid transparent;
    height: 0;
    width: 15px;
    z-index:10;
    margin: 10px;
    
}

#backwing{
    
    position: relative;
    border-bottom: 100px solid red;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 20px;
    z-index:10;
    margin: 10px;
    
}


#nose{
    
    position: relative;
    width: 150px;
    height: 100px;
    background-color: red;
/*  Egg shape*/
    border-radius: 90px 90px 0px 0px / 120px 120px 0px 0px;
    z-index:10;
    margin: 10px;
    box-shadow: inset -15px -1px 3px 0 rgba(0, 0, 0, 0.2);
    

}

    

#window{
    
    position: relative;
    border-radius: 100%;
    height:55px;
    width:55px;
    background: lightblue;
    border: 15px solid gray;
    z-index:10;
    margin: 10px;
    box-shadow: inset 7px -1px 3px 0 rgba(0, 0, 0, 0.2),3px 0 3px 0 rgba(0, 0, 0, 0.2);

}
    

#leftfin{
    position: relative;
    width: 0;
	height: 0;
	border-bottom: 40px solid red;
	border-right: 40px solid transparent;
    z-index:10;
    margin: 10px;
}

#rightfin{

    position: relative;
    width: 0;
	height: 0;
	border-bottom: 40px solid red;
	border-left: 40px solid transparent;
     z-index:10;
    margin: 10px;
}





/*     L A U N C H     F I R E     A N I M A T I O N   */


#hide{
    
    display: none;
}

#show{
    display:block;
}



.fire .flame {
    position: fixed;
    margin-left:50%;
    z-index:100;
    margin-bottom: 250px;
    transform: translateY();
    transform-origin: top left;
    opacity: 0.9;
   
}

/* R E D*/
.red .flame {
    width: 48px;
    border-radius: 48px;
    background: #e20f00;
    box-shadow: 0 0 80px 18px rgba(226,15,0,0.4);
     
}
.red .flame:nth-child(1) {
    left: 138px;
    height: 163px;
    bottom: 100px;
    animation: fire 2s 0.15s ease-in-out infinite alternate;
}
.red .flame:nth-child(2) {
    left: 186px;
    height: 245px;
    bottom: 100px;
    animation: fire 2s 0.35s ease-in-out infinite ;
}
.red .flame:nth-child(3) {
    left: 234px;
    height: 350px;
    bottom: 100px;
    animation: fire 2s 0.1s ease-in-out infinite ;
}
.red .flame:nth-child(4) {
    left: 282px;
    height: 260px;
    bottom: 100px;
    animation: fire 2s 0s ease-in-out infinite ;
}

/* O R A N G E */
.orange .flame {
    width: 48px;
    border-radius: 48px;
    background: #ff9c00;
    box-shadow: 0 0 80px 18px rgba(255,156,0,0.4);
}
.orange .flame:nth-child(1) {
    left: 138px;
    height: 182px;
    bottom: 100px;
    animation: fire 2s 0.05s ease-in-out infinite ;
}
.orange .flame:nth-child(2) {
    left: 186px;
    height: 200px;
    bottom: 100px;
    animation: fire 2s 0.1s ease-in-out infinite ;
}
..orange .flame:nth-child(3) {
    left: 234px;
    height: 240px;
    bottom: 100px;
    animation: fire 2s 0.35s ease-in-out infinite;
}
.orange .flame:nth-child(4) {
    left: 282px;
    height: 310px;
    bottom: 100px;
    animation: fire 2s 0.4s ease-in-out infinite ;
}
.orange .flame:nth-child(5) {
    left: 330px;
    height: 268px;
    bottom: 100px;
    animation: fire 2s 0.5s ease-in-out infinite ;
}
.orange .flame:nth-child(6) {
    left: 378px;
    height: 202px;
    bottom: 100px;
    animation: fire 2s 0.35s ease-in-out infinite ;
}
.orange .flame:nth-child(7) {
    left: 426px;
    height: 165px;
  bottom: 130px;
    animation: fire 2s 0.1s ease-in-out infinite ;
}


/* Y E L L O W */
.yellow .flame {
    width: 48px;
    border-radius: 48px;
    background: #ffeb6e;
    box-shadow: 0 0 80px 18px rgba(255,235,110,0.4);
}

.yellow .flame:nth-child(1) {
    left: 234px;
    height: 182px;
  bottom: 120px;
    animation: fire 2s 0.4s ease-in-out infinite alternate;
}
.yellow .flame:nth-child(2) {
    left: 282px;
    height: 210px;
  bottom: 120px;
    animation: fire 2s 0.38s ease-in-out infinite alternate;
}
.yellow .flame:nth-child(3) {
    left: 330px;
    height: 230px;
    bottom: 140px;
    animation: fire 2s 0.22s ease-in-out infinite alternate;
}

/* W H I T E */
.white .flame {
    width: 48px;
    border-radius: 48px;
    background: #fef1d9;
    box-shadow: 0 0 80px 18px rgba(254,241,217,0.4);
}
.white .flame:nth-child(1) {
    left: 156px;
    width: 42px;
    height: 90px;
  bottom: 130px;
    animation: fire 2s 0.22s ease-in-out infinite ;
}
.white .flame:nth-child(2) {
    left: 203px;
    width: 32px;
    height: 50px;
  bottom: 120px;
    animation: fire 2s 0.42s ease-in-out infinite;
}
.white .flame:nth-child(3) {
    left: 234px;
    height: 170px;
    bottom: 50px;
    animation: fire 2s 0.82s ease-in-out infinite ;
}
.white .flame:nth-child(4) {
    left: 282px;
    height: 210px;
    bottom: 56px;
    animation: fire 2s 0.8s ease-in-out infinite ;
}
.white .flame:nth-child(5) {
    left: 330px;
    height: 130px;
    bottom: 200px;
    animation: fire 2s 0.85s ease-in-out infinite;
}
.white .flame:nth-child(6) {
    left: 378px;
    width: 22px;
    height: 100px;
    bottom: 100px;
   
    animation: fire 2s 0.64s ease-in-out infinite ;
    
}
.white .flame:nth-child(7) {
    left: 408px;
    width: 32px;
    height: 120px;
    bottom: 10px;
    animation: fire 2s 0.72s ease-in-out infinite ;
    
}


/* A N I M A T I O N */
@-webkit-keyframes fire {
  0% {
        transform: scaleY(0);
        opacity:.2; 
      transform: translateY(1300px);
  }
  28% {
        transform: scaleY(1.7);
        opacity:.5;
      transform: translateY(-1800px;)
  }
  38% {
        transform: scaleY(2.8);
        opacity:1;
       }
  }
  50% {
        transform: scaleY(1.8); 
  }
  70% {
        transform: scaleY(1.95);
  }
  82% {
        transform: scaleY(2.58);
  }
  100% {
        transform: scaleY(2);
        opacity: .7;
  }
}





